<form action="/posts" method="post">
	Title: <input type="text" name="post[title]" value="" id="post[title]"> <br>
	Body: <textarea name="post[body]" rows="3" cols="40"></textarea> <br>
	<input type="submit" value="Add post">
</form>